.search{
  padding: 10px;
}

.res-container{
  padding: 20px 50px 50px 50px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}

.res-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  transition: all 0.1s ease-in;
  width: 95%
}

.res-card:hover{
    box-shadow: 0px 2px 40px #d4563a66;
    scale: 1.05;
}

.res-logo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
  color: #666666;
  margin: 2px 0;
}


.name-location-container{
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
}

.pin-container,
.rating-container{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 50%;
}

.pin{
  margin-right: 5px;
  margin-top: 2.5px;
  /* margin-left: 5px; */
}

.name{
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.area-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.rating-container{
  /* border: 1px solid red; */
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.rating{
  display: flex;
}

.cuisines-container{
  /* border: 1px solid red; */
  width: 95%;
}

.cuisines{
  width: 50ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.body{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items:flex-start */
}

.body .title {
  /* padding-left: 10rem; */
  padding-top: 2rem;
 text-align: center;
}