.embla {
  --slide-spacing: 0.1rem;
  --slide-size: 50%;
  --slide-height: 20rem;
  padding: 1.6rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  /* backface-visibility: hidden; */
  display: flex;
  /* justify-content: center; */
  /* touch-action: pan-y; */
}

.embla__slide {
  min-width: 20%;
  position: relative;
  flex: 0 0 27%;
  /* margin-left: 2rem; */
}

.embla__slide__img {
  display: block;
  height: 250px;
  object-fit:cover;
}

