
.search-container{
  padding: 0 10rem 0 10rem;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #EA3B13;
}

/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 250px;
  --height-of-input: 50px;
  --border-height: 2px;
  --input-bg: #FFC05E;
  --border-color: #EA3B13;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  /* z-index: -1; */
}

/* styling of Input */
.input {
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  color: black
}

/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}


.search-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* ui verse */
.bottone1 {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 20px;
  background: #FFC05E;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 20px;
  font-size: 16px;
  color: black;
}

.bottone1:hover {
  box-shadow: 7px 5px 20px -14px #EA3B13;
}

.bottone1:active {
  transform: scale(0.90);
  box-shadow: 7px 5px 26px -10px #EA3B13;
}

.form-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}