.each-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(179, 179, 179, 0.435);
  padding: 1rem;
}

.left-container{

}

.item-logo{
    width: 175px;
    height: 175px;
    object-fit:cover;
    border-radius: 20px;
}

.description{
  font-size: 12px;
  width: 90%;
}

h5{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}

h4{
  font-weight: 600;
}

.veg-symbol img{
width: 20px
}
